@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: transparent;
}

#infopanel {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}
